In [1]:
import pandas as pd
import numpy as np

a = np.random.randint(0,10,24).reshape(4,6)
df = pd.DataFrame(a, index=list("가나다라"), columns=list("ABCDEF"))

In [19]:
df

   A  B  C  D  E  F
가  7  0  5  6  9  6
나  5  6  4  4  6  7
다  1  1  3  0  4  5
라  9  2  9  2  8  8

In [4]:
df["A"

가    7
나    5
다    1
라    9
Name: A, dtype: int64

In [5]:
df["A","B"]

KeyError: ('A', 'B')

In [6]:
df[["A","B"]]

   A  B
가  7  0
나  5  6
다  1  1
라  9  2

In [7]:
a

array([[7, 0, 5, 6, 9, 6],
       [5, 6, 4, 4, 6, 7],
       [1, 1, 3, 0, 4, 5],
       [9, 2, 9, 2, 8, 8]])

In [8]:
df.loc["가", "A"]

np.int64(7)

In [9]:
df.loc["가" : "다", "B" : "C"]

   B  C
가  0  5
나  6  4
다  1  3

In [10]:
df.loc[["가","다":"라"],"A"]

SyntaxError: invalid syntax (556575082.py, line 1)

In [11]:
df.loc[["가","다","라"],"A"]

가    7
다    1
라    9
Name: A, dtype: int64

In [14]:
df.loc[["가","다","라"],["A","A"]]

   A  A
가  7  7
다  1  1
라  9  9

In [15]:
df.loc[]

SyntaxError: invalid syntax (2240581962.py, line 1)

In [16]:
df.loc[0]

KeyError: 0

In [17]:
df.loc["가"]

A    7
B    0
C    5
D    6
E    9
F    6
Name: 가, dtype: int64

In [18]:
df.iloc[0]

A    7
B    0
C    5
D    6
E    9
F    6
Name: 가, dtype: int64

In [20]:
df

   A  B  C  D  E  F
가  7  0  5  6  9  6
나  5  6  4  4  6  7
다  1  1  3  0  4  5
라  9  2  9  2  8  8

In [21]:
df.iloc[1:3, 1:4]

   B  C  D
나  6  4  4
다  1  3  0

In [22]:
df

   A  B  C  D  E  F
가  7  0  5  6  9  6
나  5  6  4  4  6  7
다  1  1  3  0  4  5
라  9  2  9  2  8  8

In [23]:
df.ioc["가" : "다", ["B", "D", "E", "F"]]

AttributeError: 'DataFrame' object has no attribute 'ioc'

In [24]:
df.loc["가" : "다", ["B", "D", "E", "F"]]

   B  D  E  F
가  0  6  9  6
나  6  4  6  7
다  1  0  4  5

In [25]:
df

   A  B  C  D  E  F
가  7  0  5  6  9  6
나  5  6  4  4  6  7
다  1  1  3  0  4  5
라  9  2  9  2  8  8

In [26]:
df.iloc[:3,1:].drop("C",axis = 1)

   B  D  E  F
가  0  6  9  6
나  6  4  6  7
다  1  0  4  5